/*** Top Section ***/
.fa {
  margin: 7px;
}

small{
  margin-top: -1.5%;
  margin-bottom: 1.5%;
}

.index-banner {
  background-color: #007bff;
  color: white;
  padding: 1%;
}

.index-title {
  display: inline;
}

.index-btns-section, .latest-posts, .edit-post{
  background-color: #f8f9fa;
  padding: 1.5%;
}

.index-btns-section button {
  width: 100%;
  margin: 5%;
}

/*** Table Section ***/
.table-section, .edit-post{
  margin: 3%;
  margin-bottom: 0% !important;
}

.latest-posts, .edit-post {
  border: solid 0.3px grey;
  padding: 2%;
}

.edit-post {
  background-color: white;
  margin-top: 0% !important;
  margin-bottom: 3% !important;
}
table {
  margin-top: 3%;
}

/*** Cards Section ***/
.cards button {
  color: white;
  border: solid 1px white;
}

.card {
  background-color: #007bff;
  color: white;
  text-align: center;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 2%;
}

/*** Modals Section ***/
.modal-header {
  color: white;
}

/*** Footer Section ***/
.footer {
  text-align: center;
  size: 20px;
  color: white;
  padding: 3%;
}

/*** Responsive Styling Section ***/
@media only screen and (max-width: 950px) {
  .index-btns-section button {
    width: 100%;
    margin: 1%;
  }

  .card {
    margin-top: 1.5%;
    text-align: center;
  }
}

/*** Users + Posts + Categories Page + postPage ***/

.users-btns-section, .posts-btns-section, .cate-btns-section, .postPage-btns-section
{
  background-color: #f8f9fa;
  padding: 1.5%;
}
.posts-btns-section button, .cate-btns-section button, .postPage-btns-section button{
  color: white;
  width: 100%;
}
/*** Userss Page ***/

.users-btns-section button {
  color: black;
}

/*** Posts Page ***/
.pagination{
  margin-top: 2%;
}

/*** postPage Section ***/
.back-link{
  color: grey;
  text-align: center;
}
